<div class="contact-list">
  <a href="mailto:{{ site.author.email }}" class="contact-item">
    <span class="contact-type">Email</span>
    <span class="contact-val">{{ site.author.email }}</span>
  </a>
  <a href="{{ site.author.linkedin }}" target="_blank" rel="noopener" class="contact-item">
    <span class="contact-type">LinkedIn</span>
    <span class="contact-val">mcontreras</span>
  </a>
  <a href="{{ site.author.mastodon }}" target="_blank" rel="noopener me" class="contact-item">
    <span class="contact-type">Mastodon</span>
    <span class="contact-val">@mcontreras@mastodon.social</span>
  </a>
</div>
